<section class="customers section">
  <div class="container">
    <h2 class="customers__title">What our Customers Say</h2>
    <p class="customers__description">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    </p>
    <ul class="customers-list">
      <li class="customers-rating">
        <div class="customers-rating__item">
          <span>
            <svg class="star" width="17" height="16">
              <use href="./images/sprite.svg#star"></use>
            </svg>
          </span>
          <span>
            <svg class="star" width="17" height="16">
              <use href="./images/sprite.svg#star"></use>
            </svg>
          </span>
          <span>
            <svg class="star" width="17" height="16">
              <use href="./images/sprite.svg#star"></use>
            </svg>
          </span>
          <span>
            <svg class="star" width="17" height="16">
              <use href="./images/sprite.svg#star"></use>
            </svg>
          </span>
          <span>
            <svg class="star" width="17" height="16">
              <use href="./images/sprite.svg#star"></use>
            </svg>
          </span>
        </div>
        <p class="customers-item__opinion">
          “The Best app I have used to order food in a while, so many options to
          choose from too, I would recommend to a freind, No questions asked”
        </p>
        <div class="customer-card">
          <img
            class="customer__picture"
            srcset="
              ./images/img-mob-section/man.webp    1x,
              ./images/img-mob-section/man@x2.webp 2x,
              ./images/img-mob-section/man.png     1x,
              ./images/img-mob-section/man@2x.png  2x
            "
            src="./images/img-mob-section/man.png "
            alt="man"
          />
          <h3 class="customer__name">Sumith Shah</h3>
          <p class="customer__description">Some Dude</p>
        </div>
      </li>

      <li class="customers-rating">
        <div class="customers-rating__item">
          <span>
            <svg class="star" width="17" height="16">
              <use href="./images/sprite.svg#star"></use>
            </svg>
          </span>
          <span>
            <svg class="star" width="17" height="16">
              <use href="./images/sprite.svg#star"></use>
            </svg>
          </span>
          <span>
            <svg class="star" width="17" height="16">
              <use href="./images/sprite.svg#star"></use>
            </svg>
          </span>
          <span>
            <svg class="star" width="17" height="16">
              <use href="./images/sprite.svg#star"></use>
            </svg>
          </span>
          <span>
            <svg class="star" width="17" height="16">
              <use href="./images/sprite.svg#star"></use>
            </svg>
          </span>
        </div>
        <p class="customers-item__opinion">
          “The ease with which I can just go in and order what i want was
          amazing, It has been a very pleasant experience ordering from this
          app”
        </p>
        <div class="customer-card">
          <img
            class="customer__picture"
            srcset="
              ./images/img-mob-section/woman.webp    1x,
              ./images/img-mob-section/woman@x2.webp 2x,
              ./images/img-mob-section/woman.png     1x,
              ./images/img-mob-section/woman@x2.png  2x
            "
            src="./images/img-mob-section/woman.png "
            alt="woman"
          />
          <h3 class="customer__name">Sumith Shah</h3>
          <p class="customer__description">Some Dude</p>
        </div>
      </li>
    </ul>
  </div>
</section>
