<section class="section">
  <div class="container">
    <h2 customers-title>What our Customers Say</h2>
    <p class="customers-description">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    </p>
    <ul class="customers__list">
      <li class="customers-item">
        <div class="marks">
          <span>
            <svg class="star">
              <use></use>
            </svg>
          </span>
          <span>
            <svg class="star">
              <use></use>
            </svg>
          </span>
          <span>
            <svg class="star">
              <use></use>
            </svg>
          </span>
          <span>
            <svg class="star">
              <use></use>
            </svg>
          </span>
          <span>
            <svg class="star">
              <use></use>
            </svg>
          </span>
        </div>
        <p class="customers-item-description">
          “The Best app I have used to order food in a while, so many options to
          choose from too, I would recommend to a freind, No questions asked”
        </p>
        <div>
          <img src="#" alt="" />
          <h3>Sumith Shah</h3>
          <p>Some Dude</p>
        </div>
      </li>

      <li class="customers-item">
        <div class="marks">
          <span>
            <svg class="star">
              <use></use>
            </svg>
          </span>
          <span>
            <svg class="star">
              <use></use>
            </svg>
          </span>
          <span>
            <svg class="star">
              <use></use>
            </svg>
          </span>
          <span>
            <svg class="star">
              <use></use>
            </svg>
          </span>
          <span>
            <svg class="star">
              <use></use>
            </svg>
          </span>
        </div>
        <p class="customers-item-description">
          “The ease with which I can just go in and order what i want was
          amazing, It has been a very pleasant experience ordering from this
          app”
        </p>
        <div>
          <img src="#" alt="" />
          <h3>Sumith Shah</h3>
          <p>Some Dude</p>
        </div>
      </li>
    </ul>
  </div>
</section>
