<section class="customers section">
  <div class="container">
    <h2 class="customers__title title">What our Customers Say</h2>
    <p class="customers__description">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    </p>

    <div class="customers-rating">
      <ul class="customers-rating__item list">
        <li>
          <svg class="star" width="17" height="16">
            <use href="./images/sprite.svg#star"></use>
          </svg>
        </li>
        <li>
          <svg class="star" width="17" height="16">
            <use href="./images/sprite.svg#star"></use>
          </svg>
        </li>
        <li>
          <svg class="star" width="17" height="16">
            <use href="./images/sprite.svg#star"></use>
          </svg>
        </li>
        <li>
          <svg class="star" width="17" height="16">
            <use href="./images/sprite.svg#star"></use>
          </svg>
        </li>
        <li>
          <svg class="star" width="17" height="16">
            <use href="./images/sprite.svg#star"></use>
          </svg>
        </li>
      </ul>
      <p class="customers-item__opinion">
        “The Best app I have used to order food in a while, so many options to
        choose from too, I would recommend to a freind, No questions asked”
      </p>
      <div class="customer-card">
        <img
          class="customer__picture"
          srcset="
            ./images/img-mob-section/man.png    1x,
            ./images/img-mob-section/man@2x.png 2x
          "
          src="./images/img-mob-section/man.png "
          alt="man"
        />
        <div class="customers-text">
          <h3 class="customer__name">Sumith Shah</h3>
          <p class="customer__description">Some Dude</p>
        </div>
      </div>
    </div>

    <div class="customers-rating">
      <ul class="customers-rating__item list">
        <li>
          <svg class="star" width="17" height="16">
            <use href="./images/sprite.svg#star"></use>
          </svg>
        </li>
        <li>
          <svg class="star" width="17" height="16">
            <use href="./images/sprite.svg#star"></use>
          </svg>
        </li>
        <li>
          <svg class="star" width="17" height="16">
            <use href="./images/sprite.svg#star"></use>
          </svg>
        </li>
        <li>
          <svg class="star" width="17" height="16">
            <use href="./images/sprite.svg#star"></use>
          </svg>
        </li>
        <li>
          <svg class="star" width="17" height="16">
            <use href="./images/sprite.svg#star"></use>
          </svg>
        </li>
      </ul>
      <p class="customers-item__opinion">
        “The ease with which I can just go in and order what i want was amazing,
        It has been a very pleasant experience ordering from this app”
      </p>
      <div class="customer-card">
        <img
          class="customer__picture"
          srcset="
            ./images/img-mob-section/woman.png    1x,
            ./images/img-mob-section/woman@x2.png 2x
          "
          src="./images/img-mob-section/woman.png "
          alt="woman"
        />
        <div class="customers-text">
          <h3 class="customer__name">Sumith Shah</h3>
          <p class="customer__description">Some Dude</p>
        </div>
      </div>
    </div>
  </div>
</section>
