<section class="favorites">
    <div class="container">
        <h2 class="favorites__title title">Some of Our Favorites</h2>
        <p class="favorites__subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        <ul class="favorites__list list">
            <li class="favorites__item">
                <a href="" class="favorites__link link">
                    <picture>
                        <source srcset="./images/section-2-desc-img/gamburger-desc.webp 1x, ./images/section-2-desc-img/gamburger-desc@x2.webp 2x"
                            media="(min-width: 1280px)"/>
                        <source srcset="./images/section-2-desc-img/gamburger-desc.png 1x, ./images/section-2-desc-img/gamburger-desc@x2.png 2x"
                            media="(min-width: 1280px)"/> 
                        <source srcset="./images/section-2-tab-img/gamburger-tab.webp 1x, ./images/section-2-tab-img/gamburger-tab@x2.webp 2x"
                            media="(min-width: 768px)" />
                        <source srcset="./images/section-2-tab-img/gamburger-tab.png 1x, ./images/section-2-tab-img/gamburger-tab@x2.png 2x"
                            media="(min-width: 768px)" />
                        <source 
                            srcset="./images/img-mob-section/gamburger-mob.webp 1x, ./images/img-mob-section/gamburger-mob@x2.webp 2x" 
                            media="(max-width: 767px)"/>
                        <source 
                            srcset="./images/img-mob-section/gamburger-mob.png 1x, ./images/img-mob-section/gamburger-mob@x2.png 2x"
                            media="(max-width: 767px)"/>
                        <img class="favorites__img" src="./images/section-2-tab-img/gamburger-tab.png" alt="gamburger">   
                    </picture>
                </a>
            </li>
            <li class="favorites__item">
                <a href="" class="favorites__link link">
                    <picture>
                        <source srcset="./images/section-2-desc-img/pasta-desc.webp 1x, ./images/section-2-desc-img/pasta-desc@x2.webp 2x"
                            media="(min-width: 1280px)" />
                        <source srcset="./images/section-2-desc-img/pasta-desc.png 1x, ./images/section-2-desc-img/pasta-desc@x2.png 2x"
                            media="(min-width: 1280px)" />
                        <source srcset="./images/section-2-tab-img/pasta-tab.webp 1x, ./images/section-2-tab-img/pasta-tab@x2.webp 2x"
                            media="(min-width: 768px)" />
                        <source srcset="./images/section-2-tab-img/pasta-tab.png 1x, ./images/section-2-tab-img/pasta-tab@x2.png 2x"
                            media="(min-width: 768px)" />
                        <source srcset="./images/img-mob-section/Pasta-mob.webp 1x, ./images/img-mob-section/Pasta-mob@x2.webp 2x"
                            media="(max-width: 767px)" />
                        <source srcset="./images/img-mob-section/Pasta-mob.png 1x, ./images/img-mob-section/Pasta-mob@x2.png 2x"
                            media="(max-width: 767px)" />
                        <img class="favorites__img" src="./images/section-2-tab-img/pasta-tab.png" alt="pasta">   
                    </picture> 
                </a>
            </li>
            <li class="favorites__item">
                <a href="" class="favorites__link link">
                    <picture>
                        <source srcset="./images/section-2-desc-img/pizza-desc.webp 1x, ./images/section-2-desc-img/pizza-desc@x2.webp 2x"
                            media="(min-width: 1280px)" />
                        <source srcset="./images/section-2-desc-img/pizza-desc.png 1x, ./images/section-2-desc-img/pizza-desc@x2.png 2x"
                            media="(min-width: 1280px)" />
                        <source srcset="./images/section-2-tab-img/pizza-tab.webp 1x, ./images/section-2-tab-img/pizza-tab@x2.webp 2x"
                            media="(min-width: 768px)" />
                        <source srcset="./images/section-2-tab-img/pizza-tab.png 1x, ./images/section-2-tab-img/pizza-tab@x2.png 2x"
                            media="(min-width: 768px)" />
                        <source srcset="./images/img-mob-section/pizza-mob.webp 1x, ./images/img-mob-section/pizza-mob@x2.webp 2x"
                            media="(max-width: 767px)" />
                        <source srcset="./images/img-mob-section/pizza-mob.png 1x, ./images/img-mob-section/pizza-mob@x2.png 2x"
                            media="(max-width: 767px)" />
                        <img class="favorites__img" src="./images/section-2-tab-img/pizza-tab.png" alt="pizza">   
                    </picture>
                </a>

            </li>
            <li class="favorites__item">
                <a href="" class="favorites__link link">
                    <picture>
                        <source
                            srcset="./images/section-2-desc-img/chicken-desc.webp 1x, ./images/section-2-desc-img/chicken-desc@x2.webp 2x"
                            media="(min-width: 1280px)" />
                        <source srcset="./images/section-2-desc-img/chicken-desc.png 1x, ./images/section-2-desc-img/chicken-desc@x2.png 2x"
                            media="(min-width: 1280px)" />
                        <source srcset="./images/section-2-tab-img/chicken-tab.webp 1x, ./images/section-2-tab-img/chicken-tab@x2.webp 2x"
                            media="(min-width: 768px)" />
                        <source srcset="./images/section-2-tab-img/chicken-tab.png 1x, ./images/section-2-tab-img/chicken-tab@x2.png 2x"
                            media="(min-width: 768px)" />
                        <img class="favorites__img" src="./images/section-2-tab-img/chicken-tab.png" alt="chicken">   
                    </picture>  
                </a>

            </li>
            <li class="favorites__item">
                <a href="" class="favorites__link link">
                    <picture>
                        <source srcset="./images/section-2-desc-img/salat-desc.webp 1x, ./images/section-2-desc-img/salat-desc@x2.webp 2x"
                            media="(min-width: 1280px)" />
                        <source srcset="./images/section-2-desc-img/salat-desc.png 1x, ./images/section-2-desc-img/salat-desc@x2.png 2x"
                            media="(min-width: 1280px)" />
                        <source srcset="./images/section-2-tab-img/salat-tab.webp 1x, ./images/section-2-tab-img/salat-tab@x2.webp 2x"
                            media="(min-width: 768px)" />
                        <source srcset="./images/section-2-tab-img/salat-tab.png 1x, ./images/section-2-tab-img/salat-tab@x2.png 2x"
                            media="(min-width: 768px)" />
                        <img class="favorites__img" src="./images/section-2-tab-img/salat-tab.png" alt="salat" >   
                    </picture>
                </a>

            </li>
            <li class="favorites__item">
                <a href="" class="favorites__link link">
                    <picture>
                        <source
                            srcset="./images/section-2-desc-img/borshch-desc.webp 1x, ./images/section-2-desc-img/borshch-desc@x2.webp 2x"
                            media="(min-width: 1280px)" />
                        <source srcset="./images/section-2-desc-img/borshch-desc.png 1x, ./images/section-2-desc-img/borshch-desc@x2.png 2x"
                            media="(min-width: 1280px)" />
                        <source srcset="./images/section-2-tab-img/borshch-tab.webp 1x, ./images/section-2-tab-img/borshch-tab@x2.webp 2x"
                            media="(min-width: 768px)" />
                        <source srcset="./images/section-2-tab-img/borshch-tab.png 1x, ./images/section-2-tab-img/borshch-tab@x2.png 2x"
                            media="(min-width: 768px)" />
                        <img class="favorites__img" src="./images/section-2-tab-img/borshch-tab.png" alt="borshch">
                    </picture>   
                </a>

            </li>
        </ul>
    </div>
</section>