<header class="page-header">
  <div class="page-header__wrapper container">
    <div class="navigation-wrapper">
      <a class="logo link" href="./index.html">
        <svg class="logo__icon">
          <use href="./images/sprite.svg#logo"></use>
        </svg>
      </a>

      <nav class="navigation-menu">
        <ul class="navigation-menu__list is-hidden list">
          <li class="navigation-menu__item">
            <a href="./index.html" class="navigation-menu__link link">Home</a>
          </li>
          <li class="navigation-menu__item">
            <a href="#" class="navigation-menu__link link">About</a>
          </li>
          <li class="navigation-menu__item">
            <a href="#offerings" class="navigation-menu__link link">Service</a>
          </li>
          <li class="navigation-menu__item">
            <a href="#favorites" class="navigation-menu__link link">Menu</a>
          </li>
          <li class="navigation-menu__item">
            <a href="#subscribe" class="navigation-menu__link link">Contact</a>
          </li>
        </ul>
      </nav>
    </div>

    <button class="page-header__order-btn" type="button" data-modal-open>
      Order Now
    </button>
    <div class="mobile-menu">
      <button class="mobile-menu__burger-btn" type="button" data-mobile-open>
        <svg class="mobile-menu__burger-icon">
          <use href="./images/sprite.svg#icon-gg_menu"></use>
        </svg>
      </button>
      <ul class="mobile-menu__list list" data-mobile-menu>
        <li class="mobile-menu__item">
          <a href="./index.html" class="mobile-menu__link link">Home</a>
        </li>
        <li class="mobile-menu__item">
          <a href="#hero" class="mobile-menu__link link">About</a>
        </li>
        <li class="mobile-menu__item">
          <a href="#offerings" class="mobile-menu__link link">Service</a>
        </li>
        <li class="mobile-menu__item">
          <a href="#favorites" class="mobile-menu__link link">Menu</a>
        </li>
        <li class="mobile-menu__item">
          <a href="#subscribe" class="mobile-menu__link link">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</header>
