<header class="page-header">
    <div class="navigation-wrapper">
        <a class="logo" href="./index.html">
            <svg class="logo__icon">
                <use href="#"></use>
            </svg></a>
        <nav class="navigation-menu">
            <ul class="navigation-menu__list">
                <li class="navigation-menu__item">
                    <a href="./index.html" class="navigation-menu__link">Home</a>
                </li>
                <li class="navigation-menu__item">
                    <a href="" class="navigation-menu__link">About</a>
                </li>
                <li class="navigation-menu__item">
                    <a href="#" class="navigation-menu__link">Service</a>
                </li>
                <li class="navigation-menu__item">
                    <a href="#" class="navigation-menu__link">Menu</a>
                </li>
                <li class="navigation-menu__item">
                    <a href="#" class="navigation-menu__link">Contact</a>
                </li>
            </ul>
        </nav>
    </div>
    <button class="page-header__order-btn" type="button">Order Now</button>
    <div class="mobile-menu">
        <button class="mobile-menu__burger-btn" type="button"><svg class="mobile-menu__burger-icon">
                <use href="#"></use>
            </svg>
        </button>
        <ul class="mobile-menu__list">
            <li class="mobile-menu__item"><a href="#" class="mobile-menu__link">Home</a></li>
            <li class="mobile-menu__item"><a href="#" class="mobile-menu__link">About</a></li>
            <li class="mobile-menu__item"><a href="#" class="mobile-menu__link">Service</a></li>
            <li class="mobile-menu__item"><a href="#" class="mobile-menu__link">Menu</a></li>
            <li class="mobile-menu__item"><a href="#" class="mobile-menu__link">Contact</a></li>
        </ul>
    </div>
</header>