<footer class="page-footer">
    <div class="navigation-footer">
        <a href="#" class="logo__footer">
            <svg class="logo__footer-icon">
                <use></use>
            </svg>
        </a>
        <ul class="navigation-footer__list">
            <li class="navigation-footer__item"><a href="" class="navigation-footer_link">Home</a></li>
            <li class="navigation-footer__item"><a href="" class="navigation-footer_link">About</a></li>
            <li class="navigation-footer__item"><a href="" class="navigation-footer_link">Service</a></li>
            <li class="navigation-footer__item"><a href="" class="navigation-footer_link">Menu</a></li>
            <li class="navigation-footer__item"><a href="" class="navigation-footer_link">Contact</a></li>
        </ul>
    </div>
    <form class="subscribe-footer">
        <p class="subscribe-footer__title">Subscribe</p>
        <label class="subscribe-footer__field">
            <input type="email" name="user_email" placeholder="Enter your email" class="subscribe-footer__input" required>
            <button type="submit" class="subscribe-footer__button">Subscribe</button>
            <p class="subscribe-footer__desc">By subscribing you agree to with our<a class="subscribe-footer_policy-link" href="#">Privacy Policy</a></p>
        </label>
    </form>
 <ul class="user-policy__list">
    <li class="user-policy__item"><a href="#" class="user-policy__link">Privacy Policy</a></li>
    <li class="user-policy__item"><a href="#" class="user-policy__link">Terms of Service</a></li>
    <li class="user-policy__item"><a href="#" class="user-policy__link">Cookies Settings</a></li>
 </ul>
 <p class="signature">2022 FoodSta. All right reserved.</p>

</footer>