<section class="hero">
  <div class="">
    <h1 class="main-title">Enjoy Your Favorite Food From Anywhere</h1>
    <p class="section-description">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
      varius enim in eros elementum tristique. Duis cursus, mi quis viverra
      ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.
    </p>
    <button class="main-button" type="button">Order Now</button>
    <h2 class="suptitle">Whats Special About Our Offerings</h2>
    <p class="about-text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
      varius enim in eros elementum tristique. Duis cursus, mi quis viverra
      ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.
    </p>
    <ul class="list">
      <li class="list-item">
        <svg class="icon" width="48" height="48">
            <use class="svg-icon" href=""></use>
        </svg>
        <h3 class="sub-subtitle">Fasest Delivery</h3>
        <p class="abour-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
          varius enim in eros.
        </p>
      </li>
      <li class="list-item">
        <svg class="icon" width="48" height="48">
            <use class="svg-icon" href=""></use>
        </svg>
        <h3 class="sub-subtitle">Easy To Order</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
          varius fgfdgfdgfdgfdgenim in eros.
        </p class="abour-text">
      </li>
    </ul>
    <button class="order-button" type="button">Order Now</button>
    <a class="main-link" href="#">Read More</a>
  </div>
</section>
