<section id="hero" class="section hero__section">
  <div class="container hero__container">
    <h1 class="hero__title">Enjoy Your Favorite Food From Anywhere</h1>
    <div class="hero__wrapper">
      <p class="hero__description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
        varius enim in eros elementum tristique. Duis cursus, mi quis viverra
        ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.
      </p>
      <button class="hero__order-button" type="button">Order Now</button>
    </div>
    <div class="hero__slader-wrapper">
      <div class="hero__slider">
        <div>
          <picture>
            <source
              srcset="
                ./images/img-hero-desc/foto-1-desc.webp    1x,
                ./images/img-hero-desc/foto-1-desc@x2.webp 2x
              "
              media="(min-width:1280px)"
              type="image/webp"
            />
            <source
              srcset="
                ./images/img-hero-desc/foto-1-desc.png    1x,
                ./images/img-hero-desc/foto-1-desc@x2.png 2x
              "
              media="(min-width:1280px)"
            />
            <source
              srcset="
                ./images/img-hero-tab/foto-1-tab.webp    1x,
                ./images/img-hero-tab/foto-1-tab@x2.webp 2x
              "
              media="(min-width:768px)"
              type="image/webp"
            />
            <source
              srcset="
                ./images/img-hero-tab/foto-1-tab.png    1x,
                ./images/img-hero-tab/foto-1-tab@x2.png 2x
              "
              media="(min-width:768px)"
            />
            <img
              class="hero__image"
              src="./images/img-hero-tab/foto-1-tab.png"
              alt="food on the plate"
            />
          </picture>
        </div>
        <div>
          <picture>
            <source
              srcset="
                ./images/img-hero-desc/foto-2-desc.webp    1x,
                ./images/img-hero-desc/foto-2-desc@x2.webp 2x
              "
              media="(min-width:1280px)"
              type="image/webp"
            />
            <source
              srcset="
                ./images/img-hero-desc/foto-2-desc.png    1x,
                ./images/img-hero-desc/foto-2-desc@x2.png 2x
              "
              media="(min-width:1280px)"
            />
            <source
              srcset="
                ./images/img-hero-tab/foto-2-tab.webp    1x,
                ./images/img-hero-tab/foto-2-tab@x2.webp 2x
              "
              media="(min-width:768px)"
              type="image/webp"
            />
            <source
              srcset="
                ./images/img-hero-tab/foto-2-tab.png    1x,
                ./images/img-hero-tab/foto-2-tab@x2.png 2x
              "
              media="(min-width:768px)"
            />
            <img
              class="hero__image"
              src="./images/img-hero-tab/foto-2-tab.png"
              alt="food on the plate"
            />
          </picture>
        </div>
        <div>
          <picture>
            <source
              srcset="
                ./images/img-hero-desc/foto-3-desc.webp    1x,
                ./images/img-hero-desc/foto-3-desc@x2.webp 2x
              "
              media="(min-width:1280px)"
              type="image/webp"
            />
            <source
              srcset="
                ./images/img-hero-desc/foto-3-desc.png    1x,
                ./images/img-hero-desc/foto-3-desc@x2.png 2x
              "
              media="(min-width:1280px)"
            />
            <source
              srcset="
                ./images/img-hero-tab/foto-3-tab.webp    1x,
                ./images/img-hero-tab/foto-3-tab@x2.webp 2x
              "
              media="(min-width:768px)"
              type="image/webp"
            />
            <source
              srcset="
                ./images/img-hero-tab/foto-3-tab.png    1x,
                ./images/img-hero-tab/foto-3-tab@x2.png 2x
              "
              media="(min-width:768px)"
            />
            <img
              class="hero__image"
              src="./images/img-hero-tab/foto-3-tab.png"
              alt="food on the plate"
            />
          </picture>
        </div>
      </div>
    </div>
  </div>
</section>
