<section class="section offerings">
  <div class="container offerings__container">
    <img
      class="offerings__img"
      src="./images/order-mob-img/aple-mob@x2.png"
      alt="apple"
    />

    <div class="offerings__wrapper">
      <h2 class="offerings__title">What’s Special About Our Offerings</h2>
      <p class="offerings__subtitle">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
        varius enim in eros elementum tristique. Duis cursus, mi quis viverra
        ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.
      </p>

      <ul class="offerings__list list">
        <li class="offerings__item item-offerings">
          <h3 class="item-offerings__title">Fasest Delivery</h3>
          <p class="item-offerings__description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
            varius enim in eros.
          </p>
        </li>
        <li class="offerings__item item-offerings">
          <h3 class="item-offerings__title">Easy To Order</h3>
          <p class="item-offerings__description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
            varius enim in eros.
          </p>
        </li>
      </ul>

      <button class="offerings__button" type="button">Order Now</button>
    </div>
  </div>
</section>
