<section class="section subscribe">
  <div class="container subscribe__box">
    <img
      width=""
      height=""
      class="subscribe__img"
      src="./images/order-mob-img/banan-mob@x2.png"
      alt="banan"
    />
    <h2 class="subscribe__title">Subscribe To Get Special Offers</h2>
    <p class="subscribe__text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
      varius enim in eros elementum tristique.
    </p>
    <form class="subscribe__form" method="post">
      <label class="visually-hidden" for="subscribe-email"></label>
      <input
        class="subscribe__email"
        type="email"
        name="subscribe-email"
        id="subscribe-email"
        placeholder="Enter your email"
        required
      />
      <button class="subscribe__button" type="submit">Sign Up</button>
    </form>
  </div>
</section>
