.customers {
  background-image: url(../images/order-mob-img/bg-mob-bottom.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: bottom;
  background-position-x: 50%;
  padding-bottom: 62px;
  @media screen and (min-width: 610px) {
    padding-bottom: 110px;
  }
  display: flex;
  flex-direction: column;
  align-items: center;
  @include for-tablet-only {
    padding-bottom: 115px;
    background-image: url(../images/order-tab-img/bg-bottom-tab.png);
    background-position-y: bottom;
    background-position-x: 50%;
    background-size: 100% 100vw;
  }
  @include for-desktop-up {
    background-image: url(../images/order-desc-img/bg-desc-bottom.png);
    background-position-y: bottom;
    background-position-x: 50%;

    padding-bottom: 213px;
  }
}
.title-text {
  @include for-phone-responsive {
    max-width: 280px;
  }
}

.customers__title {
  margin-bottom: 20px;
}
.customers__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14em;
  margin-bottom: 32px;

  @include for-tablet-up {
    font-size: 16px;
    line-height: 1.18em;
    margin-bottom: 48px;
  }
  @include for-desktop-up {
    margin-bottom: 26px;
  }
}
.customer-cards {
  @include for-tablet-up {
    display: flex;
  }
}
.customers-item__opinion {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.18em;
  margin-bottom: 40px;
  @include for-tablet-up {
    font-size: 18px;
    line-height: 1.16em;
  }
}
.customer__name {
  font-weight: 600;

  font-size: 14px;
  line-height: 1.42em;
}
.customer__description {
  font-weight: 400;

  font-size: 14px;
  line-height: 1.42em;
}
.customers-rating {
  padding: 12px;
  background-color: var(--white-main-color);
  border-radius: 0 30px 30px 30px;
  &:not(:last-child) {
    margin-bottom: 24px;
  }
  @include for-tablet-only {
    max-width: 336px;
    margin-right: auto;
    margin-left: auto;

    margin-bottom: 0;

    &:not(:last-child) {
      margin-right: 32px;
      margin-bottom: 0;
    }
  }
  @include for-desktop-up {
    &:not(:last-child) {
      margin-right: 139px;
      margin-bottom: 0;
    }

    padding: 14px;
    max-width: 501px;
  }
}

.customers-rating__list {
  display: flex;
  margin-bottom: 28px;
}
.star {
  @include for-tablet-up {
    fill: var(--yellow-main-color);
  }
}
.star__item {
  &:not(:last-child) {
    margin-right: 2px;
  }
}
.customer-card {
  display: flex;
}
.customer__picture {
  margin-right: 16px;
}
.customers-text {
  padding-right: 16px;
  border-right: 1px solid var(--accent-color);
}
