.page-footer{
    box-shadow: 0px -4px 24px rgba(105, 105, 105, 0.1);
   
        background-image:
                url(../images/order-mob-img/bg-apple-footer-mob.png),
                url(../images/order-mob-img/bg-orange-footer-mob.png),
                url(../images/order-mob-img/bg-footer-bottom-mob.png);
            background-position: 0 132px, top right, bottom;
            background-repeat: no-repeat;
    
    @include for-tablet-up{
        background-image:
        url(../images/order-mob-img/bg-footer-bottom-mob.png),
        url(../images/order-tab-img/apple-for-footer.png ),
        url(../images/order-tab-img/orange-for-footer.png ),
        url(../images/order-mob-img/bg-orange-footer-mob.png);
        background-position: bottom, bottom right, bottom left, top right;
        background-repeat: no-repeat;
    }
    @include for-desktop-up {
        background-image: url(../images/order-desc-img/bg-desc-footer.png);
        background-position: bottom;
        background-repeat:no-repeat;
    }
}
.page-footer__wrapper{
    padding-top: 60px;
    padding-bottom: 60px;
    @include for-desktop-up{
        flex-direction: column;
    }
}
@include for-desktop-up{
.navigation-subscribe__wrapper{
    display: flex;
    align-items: flex-start;
}
}

.logo__footer-icon {
    width: 69px;
    height: 51px;
}
.navigation-footer{
    display: flex;
    margin-bottom: 40px;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;

}

.navigation-footer__list{
    margin-left: auto;
    margin-right: auto;
    @include for-tablet-up {
        display: flex;
        gap: 28px;
    }
    @include for-desktop-up{
        margin-left: 145px;
    }

}
.navigation-footer__item:not(:last-child){
    margin-bottom: 20px;
}
.navigation-footer_link{
    color: var(--secondary-text-color);
    @include font (400, 14px, 16px);
    color: var(--primary-text-color);
    transition: color var(--timing-function);
    &:hover,
    &:focus{
        color: var(--accent-color);
    }
    
}

.subscribe-footer{
    display: block;
    margin-bottom: 60px;
    @include for-tablet-up{
        min-width: 450px;
    }
    @include for-desktop-up{
        min-width:fit-content;
    }
}
.subscribe-footer__title{
    display: block;
    margin-bottom: 12px;
    @include font (600, 14px, 21px)
}
.subscribe-footer__field{
    @include for-tablet-up{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        max-width: 420px;
    }
    @include for-desktop-up{
        max-width: 396px;
    }

}

.subscribe-footer__input{
    display: block;
    width: 100%;
    height: 42px;
    padding: 12px;
    margin-bottom: 30px;
    border: 1px solid var(--yellow-main-color);
    border-radius: 30px;
    &:focus{
        outline: transparent;
    }
    
    &:invalid {
        border-color: #FF705D;
    }
    @include for-tablet-up{
        display: flex;
        max-width: 280px;
        margin-right: 14px;
        margin-bottom: 12px;
    }

}
.subscribe-footer__input::placeholder{
    color: #505050;
    @include font (400, 12px, 18px);
}

.subscribe-footer__button{
    display: block;
    width: 102px;
    height: 42px;
    padding: 10px 20px;
    margin-left: auto;
    margin-bottom: 20px;
    @include font (400, 14px, 21px);
    border: 1px solid var(--accent-color);
    color: var(--primary-text-color);
    border-radius: 30px;
    background-color: var(--white-main-color);
    transition: background-color var(--timing-function);
    &:hover,
    &:focus{
        background-color: var(--yellow-main-color);
    }
    @include for-tablet-up {
            display: flex;
            margin-left: 0;
        }
}

.subscribe-footer__desc{
    @include font (400, 10px, 12px);
    @include for-desktop-up{
        @include font (400, 12px, 14px);
    }  
}
.subscribe-footer_policy-link{
    color: var(--accent-color);
}
.user-policy__wrapper{
    @include for-tablet-up{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-grow: 1;
}
   
}
.user-policy__list{
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    @include font (400, 10px, 12px);
    @include for-desktop-up{
        gap:20px;
        @include font (400, 12px, 14px);
    }
}
.user-policy__link{
    color: var(--accent-color);
}

.signature{
    text-align: center;
    @include font(400, 10px, 12px);
    @include for-desktop-up{
        @include font(400, 12px, 14px);
    }
}

