.hero__section {
  padding-bottom: 0;

  @include for-tablet-up {
    padding-top: 60px;
  }

  @include for-desktop-up {
    padding-top: 18px;
  }
}


.hero__container {
  @include for-tablet-up {
    display: flex;
    flex-wrap: wrap;
  }

  @include for-desktop-up {
    flex-direction: column;
    height: 580px;
    justify-content: center;
    align-items: stretch;
  }
}


.hero__order-button {
  @include for-phone-only {
    margin-bottom: 50px;
  }

  @include font(null, 14px, 20px);
  border: 0;
  border-radius: 30px;
  padding: 6px 18px;
  background-color: var(--green-background);
  color: var(--primary-text-color);
  transition: background-color var(--timing-function);


  @include for-phone-and-tablet {
    &:active {
      background-color: #b5ff00;
    }
  }


  @include for-tablet-only {
    margin-bottom: 0;
  }


  @include for-desktop-up {

    &:hover,
    &:focus {
      background-color: #b5ff00;
    }
  }

}


.hero__title {
  @include font(null, 27px, 32.81px);
  margin-bottom: 44px;

  @media screen and (min-width: 768px) {
    @include font(null, 42px, 50.4px);
    width: 537px;
  }

  @include for-desktop-up {
    @include font(null, 48px, 57.6px);
    width: 503px;
  }
}

.hero__description {
  @include font(null, 14px, 21px);
  margin-bottom: 40px;

  @include for-tablet-up {
    @include font(null, 16px, 24px);
    width: 336px;
  }

  @include for-desktop-up {
    min-width: 502px;
  }
}