.hero__section {
    @include for-tablet-up {
        padding-top:60px;
        padding-bottom: 60px;  
    }



    @include for-desktop-up {
        padding-top: 18px;
        padding-bottom: 18pxnom;
    }
}


.hero__wrapper {
    @include for-desktop-up{
    margin-top: 145px;
    }
}


.container {

    @include for-tablet-up {
        position: relative
    }

    @include for-desktop-up {
        display: flex;
        flex-wrap: wrap;
    }

}


.hero-picture {
    @include for-tablet-up {
        position: absolute;
        margin-left: 40px;
        top: 90px;
        left: 369px;
    }


    @include for-desktop-up {
        position: static;
        margin-left: auto;
        margin-right: 15px;
    }

}



.hero__order-button {
    @include font(null, 14px, 20px);
    border: 0;
    border-radius: 30px;
    padding: 6px 18px;
    background-color: var(--green-background);
    color: var(--primary-text-color);
    margin-bottom: 61px;
    transition: background-color var(--timing-function);

    &:hover,
    &:focus {
        background-color: #B5FF00;
    }
}



.hero__image {
    @media screen and (max-width:767px) {
        display: none;

    }

    @include for-tablet-up {
        border: 14px solid var(--yellow-main-color);
        border-radius: 50%;

    }

}


.hero__title {
    @include font(null, 28px, 32.81px);
    margin-bottom: 44px;


    @media screen and (min-width:768px) {
        @include font(null, 42px, 50.4px);
        width: 537px;

    }

    @include for-desktop-up {
        @include font(null, 48px, 57.6px);
        width: 503px
    }

}


.hero__description {
    @include font(null, 14px, 21px);
    margin-bottom: 40px;
    max-width: 400px;


    @include for-tablet-up {
        @include font(null, 16px, 24px);
        width: 336px;
    }

    @include for-desktop-up {
        min-width: 502px;
    }


}