.offerings {
  padding-top: 41px;

  background-image: url(../images/order-mob-img/bg-mob-top.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;

  @include for-tablet-up {
    background-image: url(../images/oferring-graphic/offer-bg-tab.svg);
  }

  @include for-desktop-up {
    background-image: url(../images/oferring-graphic/bg-desk-xxl.svg);
  }

  @media screen and(min-width:1700px) {
    background-image: url(../images/oferring-graphic/bg-desk-blob3.svg);
    background-position: top;
    background-size: contain;
  }
}

.offerings__container {
  @include for-desktop-up {
    display: flex;
    align-items: flex-end;
    gap: 90px;
  }
}

.offerings__thumb {
  width: 280px;
  display: block;
  margin: 0 auto;
  padding-bottom: 60px;

  @include for-tablet-up {
    width: 704px;
    padding-top: 100px;
  }

  @include for-desktop-up {
    width: 550px;
    margin: 0 0 -24px;
    padding-bottom: 0;
  }
}

.offerings__title {
  margin-bottom: 28px;

  @include for-tablet-up {
    width: 526px;
  }
}

.offerings__subtitle {
  @include font(400, 14px, 16px);
  margin-bottom: 28px;

  @include for-tablet-up {
    width: 500px;

    @include font(400, 16px, 19px);
  }

  @include for-desktop-up {
    @include font(400, 15.4px, 23px);
    margin-bottom: 40px;
  }
}

.offerings__list {
  @include for-tablet-up {
    display: flex;
    gap: 116px;
  }

  @include for-desktop-up {
    gap: 67px;
    width: 600px;
  }
}

.offerings__item {
  margin-bottom: 28px;

  @include for-tablet-up {
    flex-basis: calc((100% - 200px) / 2);
    margin-bottom: 40px;
  }

  @include for-desktop-up {
    flex-basis: calc((100% - 67px) / 2);
    margin-bottom: 34px;
  }
}

.item-offerings__title {
  @include font(700, 18px, 21px);
  margin-bottom: 16px;

  &::before {
    content: '';
    display: block;
    width: 48px;
    height: 48px;
    margin-bottom: 8px;

    background-color: var(--white-main-color);
    border-radius: 50%;
    background-image: url(../images/oferring-graphic/rocket.svg);
    background-size: 32px 32px;
    background-position: center;
    background-repeat: no-repeat;
  }
}

.item-offerings__title_touch::before {
  background-image: url(../images/oferring-graphic/touch.svg);
}

.item-offerings__description {
  @include font(400, 14px, 16px);

  @include for-desktop-up {
    @include font(400, 13.6px, 20px);
  }
}

.offerings__button {
  width: 130px;
  height: 40px;

  @include font(400, 13.7px, 20px);

  background: var(--white-main-color);
  border: 2px solid var(--accent-color);
  border-radius: 30px;
  margin-right: 20px;

  &:hover,
  &:focus {
    border: 2px solid #597d00;
  }
}

.offerings__link {
  color: #000;

  &::after {
    content: '';
    display: inline-block;
    width: 15px;
    height: 15px;
    fill: #000;

    vertical-align: middle;
    background-image: url(../images/oferring-graphic/Chevron-Down.svg);
  }

  &:hover,
  &:focus {
    color: #597d00;
  }
}
