.subscribe__img {
  width: 160px;
  height: 78px;

  margin-top: -105px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 16px;

  @include for-phone-up {
    width: 220px;
    height: auto;
  }

  @include for-tablet-up {
    width: 280px;
    height: 136px;

    margin: -130px 0 16px auto;
  }

  @include for-desktop-up {
    width: 100%;
  }
}

.subscribe__title {
  @include font(700, 28px, 34px);

  margin-bottom: 20px;
  width: 100%;

  color: var(--primary-text-color);

  @include for-tablet-up {
    @include font(700, 42px, 50px);
  }
}

.subscribe__text {
  @include font(400, 14px, 16px);

  margin-bottom: 40px;

  color: var(--primary-text-color);

  @include for-tablet-up {
    @include font(400, 16px, 24px);
  }
}

.subscribe__form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  @include for-tablet-up {
    display: flex;
    flex-direction: row;
    align-items: center;
    // align-items: flex-start;
  }
}

.subscribe__email {
  @include font(400, 12px, 18px);

  outline: transparent;
  width: 100%;
  height: 42px;
  margin-bottom: 30px;
  padding: 12px;

  background-color: var(--white-main-color);
  border: 0.854167px solid var(--yellow-main-color);
  border-radius: 30px;

  @include for-tablet-up {
    width: 400px;
    margin: 0;
  }
}

.subscribe__email:focus {
  background-color: var(--white-main-color);
  border: 0.854167px solid var(--accent-color);
  caret-color: #505050;
  color: var(--primary-text-color);
  transition: background-color var(--white-main-color);
}

.subscribe__button {
  @include font(400, 14px, 21px);
  padding: 10px 30px;
  border: none;

  background: var(--green-background);

  border-radius: 30px;

  @include for-tablet-up {
    margin-left: 20px;
  }
}

.subscribe__button:hover,
.subscribe__button:focus,
.subscribe__button:active {
  align-self: flex-start;
  background: var(--green-background);
  transition: background-color var(--timing-function);
}
